dist/
node_modules/
old_ui/
.turbo/
**/.DS_Store
.DS_Store

.env
.env.local
.env.development
.env.test
.env.production
.env.staging

.next/

*storybook.log
storybook-static/

tsconfig.pkg.tsbuildinfo
tsconfig.buildinfo

.npmrc

schemavaults-ui.tgz

.claude